<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <!-- <link rel="stylesheet" href="/skeleton.css"> -->
    <!-- <link rel="stylesheet" href="/style.css"> -->
    <style>
        h1, h2, h3, ul, li {
            text-align: center;
        }
        h1 {
            background-color:deepskyblue;
        }
        h2, h3 {
            color: skyblue;
            font-family: monospace;
            font-size: 25px;
        }
        li {
            color: steelblue;
        }
        #types, #stats{
            list-style-type: none;
            text-align: center;
            /* display: flex; */
        }
        .container {
            display: flex;
            flex-wrap: wrap;
        }
        #pic {
            margin-top: 90px;
            margin-left: 40%;

        }
        button {
            margin-left: 45%;
            margin-top: 20px;
            border: 2px solid dodgerblue;
            background-color: cornflowerblue;
            color: seashell;
        }
    </style>
    <title>Pokédex</title>
</head>

<body>
    <h1>Pokémon Caught</h1>

    <h2>
        <%=pokeAll.name%>
    </h2>
    <div class="container">
    <img id="pic" src="<%=pokeAll.img%>" alt="pokeAll.name">
    <ul>
        <!-- loop to grab all types -->
        <h3>Types</h3>
        <% pokeAll.type.forEach(t=> { %>
            <li id="types">
                <%=t%>
            </li>
        <% }); %>
            <h3>Stats</h3>
            <%Object.entries(pokeAll.stats).forEach(entry => {%>
                <%const [key, value] = entry;%>
                <li id="stats"> <%=entry[0] = entry[0]%>: <%= entry[1] = entry[1]%> </li>
            <% }) %>
    </ul>
</div>
    <nav>
        <a href="/pokedex"><button>Back to Pokédex</button></a>
    </nav>
</body>
</html>