<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>

<body>
    <h1>Pokemon Caught</h1>

    <h2>
        <%=pokeAll.name%>
    </h2>
    <img src="<%=pokeAll.img%>" alt="pokeAll.name">
    <ul>
        <!-- loop to grab all types -->
        <% pokeAll.type.forEach(t=> { %>
            <li>
                <%=t%>
            </li>
            <% }); %>
            <%Object.entries(pokeAll.stats).forEach(entry => {%>
                <%const [key, value] = entry;%>
            <li><%=entry[0] = entry[0]%>: <%= entry[1] = entry[1]%></li>
            <% }) %>
    </ul>
    <!-- loop for each stat -->
    

    <nav>
        <a href="/pokedex"><button>Back to Pokedex</button></a>
    </nav>


</body>

</html>