<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <h1>Pokemon Caught</h1>

    <h2><%=pokeAll.name%></h2>
    <img src="<%=pokeAll.img%>" alt="pokeAll.name">
    <ul>
        <li>
            <!-- for loop types -->
            <%=pokeAll.type%>
        </li>
    </ul>
    <!-- for loop for each stats -->
    <h3>Stats</h3>
    <h4>HP: <%=pokeAll.stats.hp%></h4>
    <h4>ATTACK: <%=pokeAll.stats.attack%></h4>
    <h4>DEFENSE: <%=pokeAll.stats.defense%></h4>

    <nav>
        <a href="/pokedex"><button>Back to Pokedex</button></a>
    </nav>

</body>
</html>